#aboutus section{
	width: 100%;
	
	background-color: #1D1128;

	padding-top: 10vw;
	padding-bottom: 10vw;
   
}

.about h1{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.08em;
	text-align: center;
	font-size: 55px;
	text-shadow: 1px 1px #F6C6EA;
    margin-top: 30px;
}
.about .container{
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 10vw;
    padding-right: 8vw;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.about-content{
    color: white;
    letter-spacing: 0.1em;
    font-size: 20px;
    background-color: #583D72;
    border-radius: 15px;
    box-shadow: 1px 2px white;
}