#Event-Details{
	width: 100%;
	
	background-color: #331940;

	padding-top: 5vw;
	padding-bottom: 5vw;
   
}

.Event-heading h1{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.08em;
	text-align: center;
	font-size: 55px;
	text-shadow: 1px 1px #F6C6EA;
}

#Event-Details .card{
	border: none;
	text-align: left;
	background-color: #331940;
	color: yellow;
    padding-left: 4vw;
    padding-right: 2vw;
	
}
#Event-Details .card-body,{
	display: unset;
}

#Event-Details .list-group-item{
	background-color:#331940;
	color: white;
}