:root{

  --d : 700ms;
  --e : cubic-bezier(0.19, 1, 0.22, 1);
  
}

.main-container {
  background-color: #1d1128;
  margin-top: -26px;
}
/* Games Section CSS */
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin-left: 22vw;
  max-width: 1024px;
  min-width: 768px;
  padding-bottom: 33vh;
  margin-top: 14vh;
  font-family: var(--font-sans);
}
@media (min-width: 768px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* Games Page Content */
.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin-left: 22vw;
  max-width: 1024px;
  padding-bottom: 33vh;
  margin-top: 14vh;
  font-family: var(--font-sans);
}

@media screen and (max-width: 500px) {
  .page-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .game-card{
    height: 63vh;
  }
}
@media (min-width:501px) and (max-width: 768px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen  and (max-width:1000px) {
  .page-content {
    margin-left:2vw;
  }
}

/* Games Cards */
.game-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow:  1px 10px 21px 0px #130d0d ;

}
@media (min-width: 600px) {
  .game-card {
    height: 350px;
  }
}

.game-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.game-card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.game-card:nth-child(1):before {
  background-image: url("./images/dota2.png");
}
.game-card:nth-child(2):before {
  background-image: url("./images/valo.jfif");
}
.game-card:nth-child(3):before {
  background-image: url("./images/csgo.jfif");
  background-position: center;
}
.game-card:nth-child(4):before {
  background-image: url("./images/fifa.png");
  background-position: center;
}

/* Games Card Content */
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.game-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: yellow;
  border: none;
}
.game-btn:hover {
  background-color: yellow;
}
.game-btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.heading {
  font-family: sans-serif;
  color: aliceblue;
  position: relative;
  z-index: 1;
  font-size: 22px;
  margin-bottom: -5vh;
  margin-top: 22vh;
  margin-left: 25vw;
}

@media screen and (max-width: 1000px) {
  .heading{
    margin-left: 6vw;
  }
}

@media (hover: hover) and (min-width: 600px) {
  .game-card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .game-card:hover,
  .game-card:focus-within {
    align-items: center;
  }
  .game-card:hover:before,
  .game-card:focus-within:before {
    transform: translateY(-4%);
  }
  .game-card:hover:after,
  .game-card:focus-within:after {
    transform: translateY(-50%);
  }
  .game-card:hover .content,
  .game-card:focus-within .content {
    transform: translateY(0);
  }
  .game-card:hover .content > *:not(.title),
  .game-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .game-card:focus-within:before,
  .game-card:focus-within:after,
  .game-card:focus-within .content,
  .game-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

/* End of Games Section */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.game-btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(8, 2, 2, 0.26);
  border: none;
}
.game-btn:hover {
  background-color: #0d0d0d;
}
.game-btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

.heading {
  font-family: sans-serif;
  color: aliceblue;
  position: relative;
  z-index: 1;
  margin-bottom: -5vh;
  margin-top: 22vh;
  margin-left: 25vw;
}

@media (hover: hover) and (min-width: 600px) {
  .game-card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .game-card:hover,
  .game-card:focus-within {
    align-items: center;
  }
  .game-card:hover:before,
  .game-card:focus-within:before {
    transform: translateY(-4%);
  }
  .game-card:hover:after,
  .game-card:focus-within:after {
    transform: translateY(-50%);
  }
  .game-card:hover .content,
  .game-card:focus-within .content {
    transform: translateY(0);
  }
  .game-card:hover .content > *:not(.title),
  .game-card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .game-card:focus-within:before,
  .game-card:focus-within:after,
  .game-card:focus-within .content,
  .game-card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

.sidebar{
    position : fixed;
    left: -250px;
    width: 250px;
    top: 0px;
    z-index:3;
    height: 100%;
    list-style-type:none;
    background : rgb(203, 213, 228);
    transition: all .4s ease;
  }
  .sidebar header{
    font-size: 22px;
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
    user-select: none;
    background : rgb(87, 87, 224);
  }
  .sidebar ul li{
    list-style-type: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    list-style-type : none;
    font-size: 15px;
    font-weight: bold;
    line-height : 50px;
    color : rgb(8, 8, 8);
    text-decoration:none;
    font-style: bold;
    box-sizing: border-box;
    border-top : 1px solid rgba(255, 255, 255, 0.1);
    border-bottom : 1px solid black;
    transition: .5s;
  }
  ul li:hover a{
    padding-left:20px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  .explore-btn{
    width: 200px;
    height:50px;
    z-index : 1;
    border: 0;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    transform: translate(-800px,200px);
  }
  .explore-btn2{
    width: 200px;
    height:50px;
    z-index : 1;
    border: 0;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    transform: translate(-400px,200px);

  }
  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
    background:#1D1128;
    border-radius: 3px;
    z-index: 1;
  }
  label #btn {
    left: 40px;
    position: fixed;
    top: 25px;
    z-index: 3;
    font-size: 35px;
    color:white;
    padding : 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left :-155px;
    top:17px;
    position: fixed;
    font-size: 30px;
    color : white;
    padding : 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity:0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;  
  }
  #check:checked ~ section {
    margin-left: 150px;
  }
  section {
    transition: all 0.5s;
  }
  .section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    transition: 2s;
    transform: translate(100px,-100px);
  }
  .video-container {
    position: absolute;
    top: -80px;
    left:0;
  }
  .about {
    height: 100vh;
    scroll-snap-align: center;
    font-family: sans-serif;
    color: aliceblue;
    position: relative;
    z-index: 1;
    font-size: 22px;
    margin-bottom: -5vh;
    margin-top: 20vh;
    
  }
  .About-heading h1{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.08em;
    font-size: 55px;
    text-align: center;
    text-shadow: 1px 1px #F6C6EA;
    padding-top: 5vh;
  
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  img{
    width: 30vw;
    height: 400px;
  }
  
  .text{
    
    background-color: #3E2556;
    border-left: 20px solid #522280;
    border-right: 20px solid #522280;
    border-bottom: 20px solid #522280;
    border-top: 20px solid #522280;
    font-size: 20px;
    padding : 20px 20px 20px; 
    height: 45vh;
      min-width: 15vw;
  }
  @media screen and (max-width : 700px ){
    .text{
      font-size : 10px;
    }
   
  }